# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Cycle markdown-folder'
      'command': 'markdown-folder:cycle'
    },
    {
      'label': 'Toggle markdown-folder'
      'command': 'markdown-folder:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'markdown-folder'
      'submenu': [
        {
          'label': 'Toggle heading / fenced code block'
          'command': 'markdown-folder:dwim-toggle'
        },
        {
          'label': 'Cycle heading'
          'command': 'markdown-folder:cycle'
        },
        {
          'label': 'Cycle all headings'
          'command': 'markdown-folder:cycleall'
        },
        {
          'label': 'Toggle heading'
          'command': 'markdown-folder:toggle'
        },
        {
          'label': 'Toggle fenced code block'
          'command': 'markdown-folder:togglefenced'
        },
        {
          'label': 'Toggle all fenced code blocks'
          'command': 'markdown-folder:toggleallfenced'
        },
        {
          'label': 'Unfold all'
          'command': 'markdown-folder:unfoldall'
        },
        {
          'label': 'Fold all H1'
          'command': 'markdown-folder:foldall-h1'
        },
        {
          'label': 'Fold all H2'
          'command': 'markdown-folder:foldall-h2'
        },
        {
          'label': 'Fold all H3'
          'command': 'markdown-folder:foldall-h3'
        },
        {
          'label': 'Fold all H4'
          'command': 'markdown-folder:foldall-h4'
        },
        {
          'label': 'Fold all H5'
          'command': 'markdown-folder:foldall-h5'
        }
      ]
    ]
  }
]
