# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# Here are some example keybindings. They are commented, because it's almost impossible to predict which bindings
# are most appropriate for all individuals. So, set up your own bindings or use the follwing bindings in your
# personal settings
# 'atom-workspace':
#   'ctrl-p': 'markdown-folder:fold'
#   'ctrl-o': 'markdown-folder:unfold'
#   'ctrl-alt-o': 'markdown-folder:unfoldall'
#   'ctrl-alt-1': 'markdown-folder:foldall-h1'
#   'ctrl-alt-2': 'markdown-folder:foldall-h2'
#   'ctrl-alt-3': 'markdown-folder:foldall-h3'
#   'ctrl-alt-4': 'markdown-folder:foldall-h4'
#   'ctrl-alt-5': 'markdown-folder:foldall-h5'
